/* Definiujemy stałą bazową szerokość karty */
:root {
    --card-base-width: 100px;
}

.card-container {
    position: relative;
    /* Usuwamy width: 100px; i zastępujemy go zmienną */
    width: var(--card-base-width);
    height: calc(var(--card-base-width) * 1.4); /* Typowa proporcja MTG */
    
    text-align: center;
    border: 1px solid #000;
    
    /* Zmieniamy transition, aby uwzględnić transformację dla skalowania */
    transition: border 0.2s, transform 0.2s; 
    display: inline-block;
    
    /* KLUCZOWA ZMIANA: Skalowanie jest teraz sterowane przez React */
    transform-origin: top left; /* Upewnij się, że skalowanie jest od lewego górnego rogu */
}

.card-container:hover {
    box-shadow: 0 0 0 1px var(--player-color) inset;
    transform: scale(1.05); /* Skalowanie przy hover zostaje, ale to jest dodatkowe do głównego zoomu */
    transform-origin: center center;
}

.card-placeholder {
    border: 1px solid black;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
    color: #fff;
}

.card-image {
  width: 100%;
  display: block;
}

.mana-indicator {
    position: absolute;
    top: 0px;
    right: -2px;
    z-index: 10;
    padding: 0px;
    border-radius: 0px;
    opacity: 0; /* Ukryj element domyślnie /
    visibility: hidden; / Upewnij się, że nie zajmuje miejsca i nie jest interaktywny /
    transition: opacity 0.2s, visibility 0.2s; / Dodaj płynne przejście */
}

.card-stats-indicator {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 10;
    padding: 0px;
}

.card-container:hover .mana-indicator {
    opacity: 1; /* Ujawnij element /
    visibility: visible; / Ustaw jako widoczny */
}

